# Node dependencies
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Build files
/build
/dist

# Logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store